XCOMM ###################################################################
XCOMM #
XCOMM #  Start of QccPack Imake.tmpl
XCOMM #
XCOMM ###################################################################

#include <QccPack.config>

#include <Imake.rules>

#include <src/libQccPack/lib/version.h>

QCCPACK_LIBRARY_NAME = QccPack

XCOMM  Static library
QCCPACK_STATIC_LIB = lib$(QCCPACK_LIBRARY_NAME).a

XCOMM  Dynamic library
QCCPACK_DYNAMIC_LIB = lib$(QCCPACK_LIBRARY_NAME).so


QCCPACK_LIB_PATH = $(QCCPACK)/lib
QCCPACK_INCLUDE_PATH = $(QCCPACK)/include
MAN_INSTALL_PATH = $(QCCPACK_INSTALL_MAN_PATH)/man$(MAN_SUFFIX)

QCCPACK_DATA_PATH = $(QCCPACK_INSTALL_DATA_PATH)

QCCPACK_SOURCEFORGE_LOGO = $(QCCPACK)/logo.sed

#ifdef USE_PTHREADS
PTHREADS_INCLUDE_FLAGS = -I$(PTHREADS_INCLUDE_PATH)
#endif

#ifdef USE_GSL
GSL_INCLUDE_FLAGS = -I$(GSL_INCLUDE_PATH)
#endif

EXTRA_INCLUDES = $(PTHREADS_INCLUDE_FLAGS) $(GSL_INCLUDE_FLAGS)

INCLUDES = -I$(QCCPACK_INCLUDE_PATH) $(EXTRA_INCLUDES)

#ifdef USE_PTHREADS
PTHREADS_LIB_FLAGS = -L$(PTHREADS_LIB_PATH) $(PTHREADS_LIB)
#endif

#ifdef USE_GSL
GSL_LIB_FLAGS = -L$(GSL_LIB_PATH) $(GSL_LIB)
#endif

EXTRA_LIBS = $(PTHREADS_LIB_FLAGS) $(GSL_LIB_FLAGS)

LIBS = -L$(QCCPACK_LIB_PATH) -l$(QCCPACK_LIBRARY_NAME) \@@\
     $(EXTRA_LIBS) -lm

GZIP_FLAGS = -DQCCCOMPRESS=$(QCCCOMPRESS) -DQCCUNCOMPRESS=$(QCCUNCOMPRESS)
ENV_FLAGS = \@@\
          -DQCCPACK_WAVELET_PATH_DEFAULT=.:$(QCCPACK_DATA_PATH)/Wavelets \@@\
          -DQCCPACK_CODES_PATH_DEFAULT=.:$(QCCPACK_DATA_PATH)/Codes

#ifdef QCCPACK_SPIHT
SPIHT_MODULE = -DHAVE_SPIHT
#endif
#ifdef QCCPACK_SPECK
SPECK_MODULE = -DHAVE_SPECK
#endif

MODULE_FLAGS = \@@\
     $(SPIHT_MODULE) \@@\
     $(SPECK_MODULE)

#ifdef USE_PTHREADS
PTHREADS_FLAGS = -DQCC_USE_PTHREADS
#endif

#ifdef USE_GSL
GSL_FLAGS = -DQCC_USE_GSL
#endif

#ifdef NO_SNPRINTF
SNPRINTF_FLAG = -DQCC_NO_SNPRINTF
#endif

#ifdef USE_MTRACE
MTRACE_FLAG = -DQCC_USE_MTRACE
#endif

EXTRA_FLAGS = \@@\
	$(GZIP_FLAGS) \@@\
	$(ENV_FLAGS) \@@\
	$(SNPRINTF_FLAG) \@@\
	$(MODULE_FLAGS) \@@\
	$(PTHREADS_FLAGS) \@@\
	$(GSL_FLAGS) \@@\
        $(MTRACE_FLAG)

LDFLAGS = $(LIBS)

RMAN = rman -b -f HTML -r %s.%s.html
SED = sed

IMAKE_CMD = $(IMAKE) -I$(QCCPACK)

UNCOMPRESS_FILES = *.Z *.gz


#ifdef QCCVERBOSEMAKE
.c.o:
	$(CC) $(CFLAGS) $(INCLUDES) $(EXTRA_FLAGS) -c $*.c
#else
.c.o:
	@echo "Compiling $*.c"
	@$(CC) $(CFLAGS) $(INCLUDES) $(EXTRA_FLAGS) -c $*.c
#endif

#ifdef QCCVERBOSEMAKE
.c:
	$(CC) $(CFLAGS) $(INCLUDES) $(EXTRA_FLAGS) -o $@ $@.c $(LDFLAGS)
#else
.c:
	@echo "Compiling $@"
	@$(CC) $(CFLAGS) $(INCLUDES) $(EXTRA_FLAGS) -o $@ $@.c $(LDFLAGS)
#endif


XCOMM ###################################################################
XCOMM #
XCOMM #  Start of QccPack Imakefile
XCOMM #
XCOMM ###################################################################

#include INCLUDE_IMAKEFILE

XCOMM ###################################################################
XCOMM #
XCOMM #  End of QccPack Imakefile
XCOMM #
XCOMM ###################################################################

XCOMM ###################################################################
XCOMM #
XCOMM #  End of QccPack Imake.tmpl
XCOMM #
XCOMM ###################################################################

