# Sam note: this action is from: https://github.com/HorstBaerbel/action-clang-tidy

name: clang-tidy-size

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    types: [assigned]

jobs:
  checkout-and-check-formatting:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Run clang-tidy
      uses: HorstBaerbel/action-clang-tidy@1.2
      # These are optional (defaults displayed)
      with:
        scandir: '.'
        builddir: 'build'
        excludedirs: ''
        extensions: 'c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx'
        cmakeoptions: '-DBUILD_UNIT_TESTS=OFF -DQZ_TERM=OFF'
